/*Default*/
body {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}

/*Misc*/
.hidden {
    visibility: hidden;
    opacity: 0;
}

.navbar__scrolled {
    background-color: #2b2a2a;
    color: #27AE60;
}

/*Navbar*/
.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    margin: 0;
    left: 50%;
    /* Move the left edge of the child to the center horizontally */
    transform: translate(-50%, 0%);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 15px 0;
    z-index: 1000;
    transition: all .5s ease-in-out;
}

.navbar__image {
    width: 300px;
    height: 50px;
    object-fit: contain;
}

.navbar__links {
    display: flex;
    height: 100%;
}

.navbar__link {
    margin: 0;
    padding: 0 11px 0 11px;
    list-style-type: none;
}

/* .navbar__link:not(:last-child) {
    margin-right: 60px;
} */

.navbar__link_title {
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding: 15px 25px 15px 25px;
    font-size: 16px;
    line-height: 24px;
}

.navbar__link_title::before {
    width: 56%;
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background-color: #4acf52;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    left: -3px;
    bottom: 14px;
    box-sizing: border-box;
}

.navbar__link_title::before {
    width: 80%;
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    opacity: 0;
    background-color: #4acf52;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    margin-left: 10%;
    bottom: 14px;
    box-sizing: border-box;
}

.navbar__link_title::after {
    display: inline-block;
    content: " ▼";
    font-size: 13px;
    margin-left: 5px;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.navbar__link:hover>.navbar__link_title::before {
    width: 60%;
    margin-left: 20%;
    opacity: 1;
}

.navbar__link:hover>.navbar__link_title::after {
    transform: rotate(0deg);
}

.navbar__link_options {
    position: absolute;
    display: flex;
    padding: 0 25px 25px 25px;
    flex-direction: column;
    text-align: center;
    background-color: #2b2a2a;
    border-top: 3px solid #27AE60;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar__link_option {
    width: 200px;
    padding: 15px;
    border-bottom: 1px solid #1d1b1b;
    box-sizing: border-box;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
}

.navbar__link_option:first-child {
    margin-top: 15px;
}

.navbar__link_option:hover {
    background-color: #1d1b1b;
}

.navbar__link_option>a {
    text-decoration: none;
    color: #27AE60;
}

.navbar__button {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    display: block;
    padding: 10px 15px 10px 15px !important;
    border-radius: 20px;
    text-decoration: none;
}

.navbar__button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
 

/*Section*/
.section {
    position: relative;
}

/* Swiper */
.section_swiper {
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    /* Fix of Webkit flickering */
    z-index: 1;
}

.section__swiper-video {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section__swiper-video>video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.slide {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.section__swiper-slide {
    position: absolute;
    top: 50%;
    opacity: 0;
    transform: translateX(100%);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    padding: 0 0 90px;
    margin-top: -8%;
    animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    70% {
        transform: translateX(0);
    }
    100% {
        opacity: 1;
    }
}

.section__swiper-slide.active {
    animation: slideUp 1.2s ease forwards 1s; /* Delay slideUp animation by 0.3s */
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.section__swiper-slide.previous {
    animation: slideOutLeft 1s ease forwards;
}

@keyframes slideOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.section__swiper-slide.next {
    animation: slideOutRight 1s ease forwards;
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.section__swiper-slide_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
    font-family: 'Nexa';
}

.section__swiper-slide_subtitle {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
}

.section__swiper-slide_title {
    color: #fff;
    margin: 55px 0 60px 0;
    font-size: 70px;
    background: radial-gradient(circle at left, #FFFFFF, #003973);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.button {
    background-image: linear-gradient(to right, #003973 0%, #c9c98f 51%, #003973 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.65s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 15px #eee;
    border-radius: 25px;
    display: block;
    text-decoration: none;
}

.button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
}

.section__swiper-slide_title, .section__swiper-slide_subtitle, .button-wrap {
    animation: slideUp 1.5s ease forwards;
    opacity: 0; /* Initially set opacity to 0 */
}


/* Services */

.section__services {
    max-width: 1280px;
    margin: 0 auto;
    padding: 90px 0 100px;
    text-align: center;
}

.section__services_title {
    font-size: 40px;
    color: #27AE60;
}

.section__services_subtitle {
    font-size: 18px;
    color: #4F4F4F;
    line-height: 130%;
}

.section__services_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:90px;
}

.section__services_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 23%;
    height: 370px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: start;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.section__services_card_icon {
    width: 60px;
    height: 60px;
    stroke: #27AE60;
    margin-bottom: 15px;
}

.section__services_card_title {
    margin: 0 0 20px;
    padding: 0;
    font-size: 23px;
    color: black;
}

.section__services_card_paragraph {
    margin: 0;
    padding: 0;
    color: #4F4F4F;
    font-weight: lighter;
    cursor: default;
}

.section__services_card_button {
    margin: auto 0 0 0;
    background-color: transparent;
    border: 1px solid #27AE60;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color .3s ease-in-out;
}

.section__services_card_button:hover {
    background-color: #27AE60;
    color: #fff;
}

.section__services_button {
    font-size: 18px;
    margin: 50px 0 0;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid lightgreen;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color .3s ease-in-out;
}

.section__services_button:hover {
    background-color: #27AE60;
    color: #fff;
}

/* Stats */

.section__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #f0fff0;
    color: black;
    padding: 40px 0 60px;
}

.section__stats_title {
    font-style: normal;
    font-size: 30px;
    font-weight: lighter;
    color: #107038;
}

.section__stats_cards {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.section__stats_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 0 50px;
}

.section__stats_card:not(:last-child) {
    border-right: 1px solid #ccc;
}

.section__stats_card-number {
    font-size: 35px;
    font-weight: 900;
    color: #27AE60;
}

.section__stats_card-unit {
    font-size: 20px;
    font-style: bold;
    margin-top: 20px;
}

.section__stats_card-label {
    font-size: 14px;
    font-style: lighter;
    margin-top: 25px;
    color: #413b3b;
}

.section__stats_button {
    width: 20%;
    font-size: 18px;
    margin: 50px 0 0;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid lightgreen;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color .3s ease-in-out;
}

.section__stats_button:hover {
    background-color: #27AE60;
    color: #fff;
}

/* Clients */
.section__clients {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0 80px;
    color: #000;
}

.section__clients_title {
    font-size: 40px;
    font-weight: lighter;
    color: #107038;
}

.section__clients_subtitle {
    font-weight: 100;
    color: #615e5e;
}

.section__clients_subtitle > span {
    text-decoration: underline;
    font-weight: 900;
    color: #107038;
}

.section__clients_container {
	display: flex;
	overflow-x: hidden;
	user-select: none;
	mask-image: linear-gradient(
		to right,
		hsl(0 0% 0% / 0),
		hsl(0 0% 0% / 1) 20%,
		hsl(0 0% 0% / 1) 80%,
		hsl(0 0% 0% / 0)
	);

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 40px;
}

.section__clients_logos {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
	min-width: 100%;
	animation: loop 20s linear infinite;
}
.section__clients_logos img {
	display: block;
	margin-inline: 2rem;
}

@keyframes loop {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

