/*Default*/
body {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}

/*Misc*/
.hidden {
    visibility: hidden;
    opacity: 0;
}

.navbar__scrolled {
    background-color: #2b2a2a;
    color: #27AE60;
    filter: none;
}

.navbar__scrolled .navbar__image {
    filter: saturate(1.5);
}

.revealUp {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.revealUp.active {
    transform: translateY(0);
    opacity: 1;
}

.revealUp-On-Load {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.revealUp-On-Load.active {
    transform: translateY(0);
    opacity: 1;
}


.revealDown {
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.revealDown.active {
    transform: translateY(0);
    opacity: 1;
}

.revealLeft {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.revealLeft.active {
    transform: translateX(0);
    opacity: 1;
}

.wave-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    filter: 
    drop-shadow(-2px -2px 0px #3e68ff) 
    drop-shadow(2px -2px 0px #27AE60);
    stroke: white; /*Remove svg's border*/
}

.paragraph-active { /*Details in Mission.js*/
    box-shadow: 12px 16px 6px rgba(0, 0, 0, 0.1) !important;
    transform: scale(1.06) translateX(80px);
    border: none;
}

/*Navbar*/
.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    margin: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px 10px 0;
    z-index: 1000;
    transition: all .5s ease-out;
}

.navbar__logo_container {
    display: flex;
    align-items: center;
    cursor: default;
}

.navbar__image {
    width: 90px;
    height: 90px;
    object-fit: contain;
    cursor: pointer;
    filter: brightness(0) invert(1);
    transform: scale(1);
}

.navbar__logo_name {
    font-size: 20px;
    font-weight: 900;
    width: 50%;
    margin: 0 0 0 30px;
}

.navbar__links {
    display: flex;
    height: 100%;
}

.navbar__link {
    margin: 0;
    padding: 0 11px 0 11px;
    list-style-type: none;
}

/* .navbar__link:not(:last-child) {
    margin-right: 60px;
} */

.navbar__link_title {
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding: 15px 25px 15px 25px;
    font-size: 16px;
    line-height: 24px;
}

.navbar__link_title::before {
    width: 56%;
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background-color: #4acf52;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    left: -3px;
    bottom: 14px;
    box-sizing: border-box;
}

.navbar__link_title::before {
    width: 80%;
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    opacity: 0;
    background-color: #4acf52;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    margin-left: 10%;
    bottom: 14px;
    box-sizing: border-box;
}

.navbar__link_title::after {
    display: inline-block;
    content: " ▼";
    font-size: 13px;
    margin-left: 5px;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.navbar__link:hover>.navbar__link_title::before {
    width: 60%;
    margin-left: 20%;
    opacity: 1;
}

.navbar__link:hover>.navbar__link_title::after {
    transform: rotate(0deg);
}

.navbar__link_options {
    position: absolute;
    display: flex;
    padding: 0 25px 25px 25px;
    flex-direction: column;
    text-align: center;
    background-color: #2b2a2a;
    border-top: 3px solid #27AE60;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar__link_option {
    width: 200px;
    padding: 15px;
    border-bottom: 1px solid #1d1b1b;
    box-sizing: border-box;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
}

.navbar__link_option:first-child {
    margin-top: 15px;
}

.navbar__link_option:hover {
    background-color: #1d1b1b;
}

.navbar__link_option>a {
    text-decoration: none;
    color: #27AE60;
}

.navbar__button {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
    padding: 10px 15px 10px 15px !important;
    border-radius: 20px;
    text-decoration: none;
}

.navbar__button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
    .navbar__link_title {
        font-size: 14px;
    }
}


/*Section*/
.section {
    position: relative;
}

/* Swiper */
.section_swiper {
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    /* Fix of Webkit flickering */
    z-index: 1;
}

.section__swiper-video {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section__swiper-video>video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.slide {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.section__swiper-slide {
    position: absolute;
    top: 50%;
    opacity: 0;
    transform: translateX(100%);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    padding: 0 0 90px;
    margin-top: -8%;
    animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    70% {
        transform: translateX(0);
    }

    100% {
        opacity: 1;
    }
}

.section__swiper-slide.active {
    animation: slideUp 1.2s ease forwards 1s;
    /* Delay slideUp animation by 0.3s */
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.section__swiper-slide.previous {
    animation: slideOutLeft 1s ease forwards;
}

@keyframes slideOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.section__swiper-slide.next {
    animation: slideOutRight 1s ease forwards;
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.section__swiper-slide_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
    font-family: 'Nexa';
}

.section__swiper-slide_subtitle {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
}

.section__swiper-slide_title {
    color: #fff;
    margin: 55px 0 60px 0;
    font-size: 70px;
    background: radial-gradient(circle at left, #FFFFFF, #003973);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.button {
    background-image: linear-gradient(to right, #003973 0%, #c9c98f 51%, #003973 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.65s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 15px #eee;
    border-radius: 25px;
    display: block;
    text-decoration: none;
}

.button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
}

.section__swiper-slide_title,
.section__swiper-slide_subtitle,
.button-wrap {
    animation: slideUp 1.5s ease forwards;
    opacity: 0;
    /* Initially set opacity to 0 */
}


/* Services */

.section__services {
    max-width: 1280px;
    margin: 0 auto;
    padding: 90px 0 100px;
    text-align: center;
}

.section__services_title {
    font-size: 40px;
    color: #107038;
}

.section__services_subtitle {
    font-size: 18px;
    color: #4F4F4F;
    line-height: 130%;
}

.section__services_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
}

.section__services_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 23%;
    height: 370px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: start;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.section__services_card_icon {
    width: 60px;
    height: 60px;
    stroke: #27AE60;
    margin-bottom: 15px;
}

.section__services_card_title {
    margin: 0 0 20px;
    padding: 0;
    font-size: 23px;
    color: black;
}

.section__services_card_paragraph {
    margin: 0;
    padding: 0;
    color: #4F4F4F;
    font-weight: lighter;
    cursor: default;
}

.section__services_card_button {
    margin: auto 0 0 0;
    background-color: transparent;
    border: 1px solid #27AE60;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color .3s ease-in-out;
}

.section__services_card_button:hover {
    background-color: #27AE60;
    color: #fff;
}

.section__services_button {
    font-size: 18px;
    margin: 50px 0 0;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid lightgreen;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color .3s ease-in-out;
}

.section__services_button:hover {
    background-color: #27AE60;
    color: #fff;
}

/* Stats */

.section__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #f0fff0;
    color: black;
    padding: 40px 0 60px;
}

.section__stats_title {
    font-style: normal;
    font-size: 30px;
    font-weight: lighter;
    color: #107038;
}

.section__stats_cards {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.section__stats_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 0 50px;
}

.section__stats_card:not(:last-child) {
    border-right: 1px solid #ccc;
}

.section__stats_card-number {
    font-size: 35px;
    font-weight: 900;
    color: #27AE60;
}

.section__stats_card-unit {
    font-size: 20px;
    font-style: bold;
    margin-top: 20px;
}

.section__stats_card-label {
    font-size: 14px;
    font-style: lighter;
    margin-top: 25px;
    color: #413b3b;
}

.section__stats_button {
    width: 20%;
    font-size: 18px;
    margin: 50px 0 0;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid lightgreen;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color .3s ease-in-out;
}

.section__stats_button:hover {
    background-color: #27AE60;
    color: #fff;
}

/* Clients */
.section__clients {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0 80px;
    color: #000;
}

.section__clients_title {
    font-size: 40px;
    font-weight: lighter;
    color: #107038;
}

.section__clients_subtitle {
    font-weight: 100;
    color: #615e5e;
}

.section__clients_subtitle>span {
    text-decoration: underline;
    font-weight: 900;
    color: #107038;
}

.section__clients_container {
    display: flex;
    overflow-x: hidden;
    user-select: none;
    mask-image: linear-gradient(to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0));

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 40px;
}

.section__clients_logos {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    min-width: 100%;
    animation: loop 20s linear infinite;
}

.section__clients_logos img {
    display: block;
    margin-inline: 2rem;
}

@keyframes loop {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* About */

.section__about {
    background-color: #f8f8f8;
    color: black;
    padding: 90px 0 110px;
}

.section__about_title {
    font-size: 35px;
    font-weight: 900;
    color: #107038;
    text-align: center;
    margin: 0;
}

.section__about_subtitle {
    font-size: 25px;
    font-weight: 100;
    color: #000;
    text-align: center;
    margin: 10px;
}

.section__about_team {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 50px auto;
    column-gap: 2%;
    row-gap: 40px;
}

.section__about_card {
    position: relative;
    width: 23%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    transition: transform .4s ease-out;
}

.section__about_card:hover {
    animation: glow 1s infinite alternate;
    transform: scale(1.05);
}

.section__about_image {
    max-width: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.section__about_card:hover .section__about_image {
    filter: grayscale(0%);
    /* Remove grayscale filter on hover */
    cursor: pointer;
}

.section__about_name {
    margin: 10px 0 10px 20px;
}

.section__about_occupation {
    margin: 10px 0 10px 20px;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px rgba(39, 174, 96, 0.3);
        /* Initial shadow color */
    }

    100% {
        box-shadow: 0 0 30px rgba(39, 174, 96, 0.6);
        /* Glowing shadow color */
    }
}

/* Reviews */

.section__reviews {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 0 160px;
}

.section__reviews_title {
    color: #107038;
    text-align: center;
    font-size: 35px;
    margin: 50px 0 0 0;
}

.section__reviews_subtitle {
    color: black;
    font-size: 24px;
    text-align: center;
    margin: 10px 0 0 0;
}

.section__reviews_cards {
    display: flex;
    color: #000;
    gap: 20px;
    margin: 100px 0 0 0;
}

.section__reviews_card {
    position: relative;
    width: 33%;
    background-color: #efefef;
    padding: 15px;
}

.section__reviews_images {
    position: absolute;
    left: calc(50% - 65px);
    width: 110px;
    height: 100px;
    background-size: cover;
    background-position: top;
    border: 10px solid white;
    border-radius: 50%;
    top: -60px;
}

.section__reviews_paragraph {
    margin: 15% 0 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}

.section__reviews_name {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: #107038;
}

.section__reviews_name>span {
    color: black;
    font-size: 16px;
}

/* Contact */

.section__contact {
    padding-top: 54px;
    padding-bottom: 50px;
    background-image: url(../images/question.jpg);
    background-position: bottom left;
}

.section__contact_container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Nexa';
    font-weight: 600;
}

.section__contact_question {
    font-size: 30px;
    margin: 15px;
}

.section__contact_button {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
    padding: 15px 45px 10px 45px !important;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.section__contact_button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* Advantages */

.section__advantages {
    display: flex;
    flex-direction: column;
    padding: 100px 0 40px;
    background-color: #efefef;
}

.section__advantages_container {
    max-width: 70%;
    margin: 0 auto;
}

.section__advantages_title {
    color: #27AE60;
}

.section__advantages_subtitle {
    color: black;
    font-size: 30px;
    margin: 10px 0 0 0;
}

.section__advantages_cards {
    max-width: 70%;
    padding: 100px 0 90px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20%;
    row-gap: 40px;
    color: #000;
    margin: 0 auto;
}

.section__advantages_card {
    width: 20%;
    text-align: center;
}

.section__advantages_icon {
    width: 70px;
    height: 70px;
    color: #27AE60;
}

.section__advantages_card_title {
    font-size: 25px;
    margin: 10px 0 0 0;
}

.section__advantages_card_paragraph {
    font-size: 16px;
    color: #4F4F4F;
}

/* Blog */

.section__blog {
    max-width: 1280px;
    margin: 0 auto;
    padding: 90px 0 200px;
}

.section__blog_title {
    text-align: center;
    color: #107038;
    font-size: 35px;
}

.section__blog_subtitle {
    text-align: center;
    color: #949191;
}

.section__blog_cards {
    display: flex;
    column-gap: 20px;
    color: black;
    margin-top: 100px;
}

.section__blog_card {
    width: 25%;
    padding: 15px 15px 30px 15px;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 10px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid #efefef;
}

.section__blog_image {
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}

.section__blog_paragraph {
    font-size: 18px;
    font-weight: 900;
}

.section__blog_button {
    background-color: transparent;
    border: none;
    color: #27AE60;
    font-weight: 900;
    margin: 20px 0 0 0;
}

.section__blog_button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Opportunities */

.section__opportunities {
    background-image: url(../images/team.jpg);
    background-position: cemter;
    padding: 120px 0 140px;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.section__opportunities_container {
    position: relative;
    z-index: 100;
    max-width: 1280px;
    margin: 0 auto;
}

.section__opportunities_title {
    font-size: 32px;
    margin: 10px 0 0 0;
}

.section__opportunities_subtitle {
    font-size: 22px;
    color: #4acf52;
    margin: 0;
}

.section__opportunities_paragraph {
    margin: 25px 0 0 0;
    max-width: 45%;
    font-size: 19px;
}

.section__opportunities_button {
    background-color: transparent;
    padding: 15px 30px 15px 30px;
    color: white;
    border: 1px solid #27AE60;
    border-radius: 60px;
    margin-top: 50px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.section__opportunities_button:hover {
    background-color: #27AE60;
}

/* Data */

.section__data {
    padding: 120px 0 0 0;
    background-color: #f0fff0;
}

.section__data_container {
    max-width: 35%;
    margin: 0 auto;
}

.section__data_form {
    display: flex;
    flex-direction: column;
    color: #000;
    border-bottom: none;
    margin-top: 50px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 50px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.section__data_title {
    font-size: 1.5em;
    line-height: 1.4;
    color: #107038;
    text-align: left;
    margin: 0;
}

.section__data_subtitle {
    color: #000;
    font-size: 1.1em;
}

.section__data_title,
.section__data_subtitle {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}


.section__data_form_name {
    border: none;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    background-color: transparent;
    margin-top: 35px;
}

.section__data_form_name:focus {
    outline: none;
}

.section__data_form_email {
    border: none;
    border-bottom: 2px solid #ccc;
    margin-top: 35px;
    padding-bottom: 10px;
    background-color: transparent;
}

.section__data_form_email:focus {
    outline: none;
}

.section__data_form_company-name {
    border: none;
    border-bottom: 2px solid #ccc;
    margin-top: 35px;
    padding-bottom: 10px;
    background-color: transparent;
}

.section__data_form_company-name:focus {
    outline: none;
}

.section__data_form_text {
    margin: 40px 0 0 0;
}

.section__data_form_fieldset {
    margin: 10px 0 0 0;
    padding: 0;
    border: none;
}

.section__data_form_fieldset .section__data_form_radio {
    margin: 10px 0 0 0;
}

.section__data_form_radio input {
    cursor: pointer;
}

.section__data_form_message_label {
    margin: 40px 0 0 0;
}

.section__data_form_message {
    margin: 15px 0 0 0;
    background-color: transparent;
    border: 2px solid #ccc;
    padding: 5px 0 100px 5px;
}

.section__data_form_message:focus {
    outline: none;
}

.section__data_form_submit {
    width: 30%;
    margin: 40px 0 0 0;
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: #27AE60;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.section__data_form_submit:hover {
    background-color: darkgreen;
}


/* Footer */

.footer {
    background-color: #2b2a2a;
    padding: 50px 0 70px 0;
}

.footer__container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 70px 0;
    border-bottom: 2px solid white;
}

.footer__logo {
    width: 7%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    filter: saturate(1.4) ;
}

.footer__cards {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.footer__cards {
    list-style-type: none;
}

.footer__card {
    text-decoration: none;
}

.footer__card-media {
    display: flex;
    flex-direction: column;
}

.footer__card_title_social-media {
    align-self: flex-end;
}

.footer__card_title {
    margin: 0 0 20px 0;
    font-size: 18px;
}

.footer__card_option {
    margin: 10px 0 0 0;
}

.footer__card a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

.footer__card a:hover {
    color: white;
    text-decoration: underline;
}

.footer__button {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
    margin: 0 0 30px 0;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
    padding: 10px 15px 10px 15px !important;
    border-radius: 20px;
    text-decoration: none;
}

.footer__card_list {
    display: flex;
    padding: 0;
    margin: 10px 0 0 0;
}

.footer__card_list_phone {
    margin: 40px 0 0 0;
}

.footer__card_item {
    list-style-type: none;
    margin: 0 10px 0 0;
}

.footer__card_icon {
    width: 30px;
    height: 30px;
    padding: 0;
    filter: blur(1px);
    transition: all .4s ease-out;
}

.footer__card_icon:hover {
    cursor: pointer;
    filter: blur(0);
    filter: contrast(200%);
}

.footer__card_phone_icon {
    width: 30px;
    height: 30px;
    padding: 0;
}

.footer__card_number {
    margin: auto 0 auto 15px;
}

.footer__card_number:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer__card_number:hover .footer__card_phone_icon {
    filter: contrast(200%);
}

.footer__copyrights {
    max-width: 60%;
    margin: 30px auto 0;
}

.footer__copyrights_text {
    text-align: center;
    cursor: default;
}

.footer__copyrights_link {
    color: #27AE60;
    text-decoration: none;
    cursor: pointer;
}

.footer__copyrights_link:hover {
    text-decoration: underline;
}



/* ------------------------ mission.html ------------------------ */

/* Wave */
.section__wave {
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 200px 0 100px 0;
    background-image: url(../images/mission.jpg);
    background-size: cover;
    background-position: 0 -200px;
    background-repeat: no-repeat;
}

.section__wave_container {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    align-items: flex-start;
    z-index: 100;
}

.section__wave_title {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

.section__wave_subtitle {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 900;
    color: #27AE60;
}

.section__wave_paragraph {
    max-width: 45%;
    font-size: 18px;
    line-height: 1.6;
}

.section__wave_button {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
    padding: 10px 20px 10px 20px !important;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    font-size: 15px;
    margin: 15px 0 0 0;
}

.section__wave_button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* Mission */

.section__mission {
    height: 100%;
    padding: 0 0 100px 0;
    color: black;
}

.section__mission_container {
    max-width: 70%;
    margin: 0 auto;
    padding: 60px 0 100px 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 10px 5px rgba(0, 0, 0, 0.1);
}

.section__mission_title {
    font-size: 40px;
    color: #107038;
    margin: 0;
    text-align: center;
}

.section__mission_subtitle {
    max-width: 35%;
    margin: 20px auto 60px;
    text-align: center;
}

.section__mission_paragraph {
    width: 60%;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin: 35px 0 0 0;
    padding: 0 20px 20px;
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.5s ease-out;
}

.section__mission_paragraph span {
    font-size: 35px;
    font-weight: 500;
}